.score {
  width: 100px;
}

.card {
  box-shadow: -5px 0 10px 1px #aaa;
  background: white;
  border-radius: 8px;
  padding: 25px;
  justify-content: space-between;
  width: fit-content;
}

.add {
  justify-content: center;
}