.container {
    background: url('src/assets/images/22372133-playing-card-background-pattern.jpg');
}

.middle {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}