<div class="container">
  <div class="d-flex-vertical">
    <form [formGroup]="form">
      <div class="card d-flex-vertical">
        <div>
          <span class="title">
            Number of Players
          </span>
        </div>
        <div>
          <input formControlName="noOfPlayer" class="player" type="text" required
            placeholder="Enter Number of Players" />
        </div>
        <div>
          <button [disabled]="form.invalid" class="submit" type="button" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>